[user]
	name = Andrew Leung
	email = andrewleung104@gmail.com
    signingkey = {{ env "GIT_SIGNING_KEY" }}
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
