{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.hostname "andrews-macbook")) -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "electrikmilk/cherri"

brew "ccache"
brew "cmake"
brew "curl"
brew "electrikmilk/cherri/cherri"
brew "fswatch"
brew "giflib"
brew "git"
brew "gperf"
brew "harfbuzz"
brew "hyperfine"
brew "jpeg"
brew "libmagic"
brew "librsvg"
brew "lima"
brew "nasm"
brew "neurosnap/tap/zmx"
brew "ninja"
brew "ohueter/tap/autokbisw"
brew "pango"
brew "pkgconf"
brew "qemu"
brew "wget"
brew "wireguard-go"
brew "wireguard-tools"

brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"

cask "betterdisplay"
cask "bruno"
cask "thaw"
cask "keycastr"
cask "wezterm"
cask "anki"

tap "ohueter/tap"
EOF
{{ end -}}
