{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "ccache"
brew "cmake"
brew "curl"
brew "fswatch"
brew "giflib"
brew "gperf"
brew "harfbuzz"
brew "hyperfine"
brew "jpeg"
brew "libmagic"
brew "librsvg"
brew "nasm"
brew "ninja"
brew "pango"
brew "pkgconf"
brew "qemu"
brew "wget"
brew "zsh"

cask "betterdisplay"
cask "bruno"
cask "ghostty"
cask "jordanbaird-ice"
cask "keycastr"

tap "ohueter/tap"
EOF
{{ end -}}
